.button {
  background-color: #3498db;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
}

.button:hover {
  background-color: #2980b9; /* Darkened version of $primary-color */
}
